In [1]:
import pandas as pd
import numpy as np

In [2]:
import sys
sys.path.insert(0, '/media/andrii/earth/Katia/CS_MasterThesis/Red_links_Project_for_Wiki_draft/py')
import functions

In [3]:
PATH_TO_DATA_RL = '/media/andrii/earth/Katia/CS_MasterThesis/data/ukwiki/uk_red_links/'

In [4]:
df_red_candidates = pd.read_csv(PATH_TO_DATA_RL+'uk_red_links_results_all_candidates.csv', encoding = 'UTF-8')

In [5]:
df_red_candidates.head()

   red_link_name                                         en_similar
0    Каунт Бейсі  [(0.081, 'The Count Basie Story'), (0.076, 'Th...
1       аль-Каїм  [(0.031, 'Ahmad al-Muqtadir'), (0.03, 'Cai Xia...
2       королева  [(0.033, 'List of consorts of the monarch of I...
3  Prentice Hall  [(0.078, 'Chemical tanker'), (0.067, 'Break of...
4       Tokar.ua  [(0.05, 'List of virtual communities with more...

In [ ]:
# ! delete from candidate pairs false red links
#  array(['Велика Британія', 'легка атлетика', 'кінний спорт',
#        'Міжнародний олімпійський комітет', 'Південна Корея',
#        'Спортивне плавання', 'Боротьба (спорт)', 'академічне веслування',
#        'Спортивна гімнастика', 'вітрильний спорт', '1914 у кіно',
#        '1913 у кіно'], dtype=object)

In [6]:
all_results = {}
all_results_list = [[]] * df_red_candidates.shape[0]
for i in range(df_red_candidates.shape[0]):
    if df_red_candidates['en_similar'][i] == '[]':
        all_results[df_red_candidates['red_link_name'][i]] = []
        all_results_list[i] = []
    else:
        res = functions.extract_list(df_red_candidates['en_similar'][i])
        all_results[df_red_candidates['red_link_name'][i]] = res
        all_results_list[i] = res

In [7]:
rl_with_cand = pd.DataFrame.from_dict(all_results, orient='index')

In [8]:
rl_with_cand.head()

,0,1,2,3,4,5,6,7,8,9,...,5047,5048,5049,5050,5051,5052,5053,5054,5055,5056
Каунт Бейсі,The Count Basie Story,The Atomic Mr. Basie,Basie in London,Basie Jazz,Basie (album),Everyday I Have the Blues (album),The Count!,Golden Boy (Quincy Jones album),Dance Session Album No. 2,Count Basie at Newport,...,None,None,None,None,None,None,None,None,None,None
аль-Каїм,Ahmad al-Muqtadir,Cai Xiang,Odo II,Judith of Swabia,Eudokia Makrembolitissa,Pontificate,Kadam (Tibetan Buddhism),Common year starting on Wednesday,Common year starting on Saturday,Common year starting on Tuesday,...,None,None,None,None,None,None,None,None,None,None
королева,List of consorts of the monarch of Ireland,Marie of Blois,Maria of Navarre,Louis,Ann Williams (historian),Gaston,Raymond Pearl,Maria of Calabria,Magdalena of France,Christopher Nicole,...,None,None,None,None,None,None,None,None,None,None
Prentice Hall,Chemical tanker,Break of gauge,Railhead,Oil tanker,Rail transport by country,Share taxi,Flag of convenience,Transport in the Soviet Union,Navigability,Waterway,...,None,None,None,None,None,None,None,None,None,None
Tokar.ua,List of virtual communities with more than 100...,Solar Energy Generating Systems,Stand-alone power system,Construction Equipment,Solar tracker,Comparison of instant messaging clients,Comparison of VoIP software,Yahoo! Tech,Trombe wall,Trinidadian and Tobagonian Americans,...,None,None,None,None,None,None,None,None,None,None

In [9]:
rl_with_cand.shape[0]//100

31

In [10]:
len(functions.divide_number(rl_with_cand.shape[0], 100))

101

In [11]:
num_df_list = functions.divide_number(rl_with_cand.shape[0], 100)
i = len(num_df_list)
start_index = 0
num_rows_proceed = num_df_list[i-1]

while i > 0:
    df_all = pd.DataFrame(columns=['red_link', 'candidate'])
    print('start_index =', start_index)
    print('num_rows_proceed =', num_rows_proceed)
    for row in range(start_index, num_rows_proceed):
        num_rows = rl_with_cand.count(axis=1)[row]

        df = pd.DataFrame(np.nan, index=range(0,num_rows), columns=['red_link', 'candidate'])

        red_link = rl_with_cand.index[row]
        # fill nans with data
        for column in range(num_rows):
            candidate = rl_with_cand.iloc[row,column]

            df.iloc[column,0] = red_link
            df.iloc[column,1] = candidate

        df_all = pd.concat([df_all, df])
        
    df_all.to_csv(PATH_TO_DATA_RL+'candidates/'+'candidates_'+str(i)+'.csv', index=False, sep='^')
    i -= 1
    start_index = num_rows_proceed
    num_rows_proceed = num_rows_proceed + num_df_list[i-1]

start_index = 0
num_rows_proceed = 96
start_index = 96
num_rows_proceed = 127
start_index = 127
num_rows_proceed = 158
start_index = 158
num_rows_proceed = 189
start_index = 189
num_rows_proceed = 220
start_index = 220
num_rows_proceed = 251
start_index = 251
num_rows_proceed = 282
start_index = 282
num_rows_proceed = 313
start_index = 313
num_rows_proceed = 344
start_index = 344
num_rows_proceed = 375
start_index = 375
num_rows_proceed = 406
start_index = 406
num_rows_proceed = 437
start_index = 437
num_rows_proceed = 468
start_index = 468
num_rows_proceed = 499
start_index = 499
num_rows_proceed = 530
start_index = 530
num_rows_proceed = 561
start_index = 561
num_rows_proceed = 592
start_index = 592
num_rows_proceed = 623
start_index = 623
num_rows_proceed = 654
start_index = 654
num_rows_proceed = 685
start_index = 685
num_rows_proceed = 716
start_index = 716
num_rows_proceed = 747
start_index = 747
num_rows_proceed = 778
start_index = 778
num_rows_proceed = 809
start_index = 809
num_rows_proceed = 840
start_index = 840
num_rows_proceed = 871
start_index = 871
num_rows_proceed = 902
start_index = 902
num_rows_proceed = 933
start_index = 933
num_rows_proceed = 964
start_index = 964
num_rows_proceed = 995
start_index = 995
num_rows_proceed = 1026
start_index = 1026
num_rows_proceed = 1057
start_index = 1057
num_rows_proceed = 1088
start_index = 1088
num_rows_proceed = 1119
start_index = 1119
num_rows_proceed = 1150
start_index = 1150
num_rows_proceed = 1181
start_index = 1181
num_rows_proceed = 1212
start_index = 1212
num_rows_proceed = 1243
start_index = 1243
num_rows_proceed = 1274
start_index = 1274
num_rows_proceed = 1305
start_index = 1305
num_rows_proceed = 1336
start_index = 1336
num_rows_proceed = 1367
start_index = 1367
num_rows_proceed = 1398
start_index = 1398
num_rows_proceed = 1429
start_index = 1429
num_rows_proceed = 1460
start_index = 1460
num_rows_proceed = 1491
start_index = 1491
num_rows_proceed = 1522
start_index = 1522
num_rows_proceed = 1553
start_index = 1553
num_rows_proceed = 1584
start_index = 1584
num_rows_proceed = 1615
start_index = 1615
num_rows_proceed = 1646
start_index = 1646
num_rows_proceed = 1677
start_index = 1677
num_rows_proceed = 1708
start_index = 1708
num_rows_proceed = 1739
start_index = 1739
num_rows_proceed = 1770
start_index = 1770
num_rows_proceed = 1801
start_index = 1801
num_rows_proceed = 1832
start_index = 1832
num_rows_proceed = 1863
start_index = 1863
num_rows_proceed = 1894
start_index = 1894
num_rows_proceed = 1925
start_index = 1925
num_rows_proceed = 1956
start_index = 1956
num_rows_proceed = 1987
start_index = 1987
num_rows_proceed = 2018
start_index = 2018
num_rows_proceed = 2049
start_index = 2049
num_rows_proceed = 2080
start_index = 2080
num_rows_proceed = 2111
start_index = 2111
num_rows_proceed = 2142
start_index = 2142
num_rows_proceed = 2173
start_index = 2173
num_rows_proceed = 2204
start_index = 2204
num_rows_proceed = 2235
start_index = 2235
num_rows_proceed = 2266
start_index = 2266
num_rows_proceed = 2297
start_index = 2297
num_rows_proceed = 2328
start_index = 2328
num_rows_proceed = 2359
start_index = 2359
num_rows_proceed = 2390
start_index = 2390
num_rows_proceed = 2421
start_index = 2421
num_rows_proceed = 2452
start_index = 2452
num_rows_proceed = 2483
start_index = 2483
num_rows_proceed = 2514
start_index = 2514
num_rows_proceed = 2545
start_index = 2545
num_rows_proceed = 2576
start_index = 2576
num_rows_proceed = 2607
start_index = 2607
num_rows_proceed = 2638
start_index = 2638
num_rows_proceed = 2669
start_index = 2669
num_rows_proceed = 2700
start_index = 2700
num_rows_proceed = 2731
start_index = 2731
num_rows_proceed = 2762
start_index = 2762
num_rows_proceed = 2793
start_index = 2793
num_rows_proceed = 2824
start_index = 2824
num_rows_proceed = 2855
start_index = 2855
num_rows_proceed = 2886
start_index = 2886
num_rows_proceed = 2917
start_index = 2917
num_rows_proceed = 2948
start_index = 2948
num_rows_proceed = 2979
start_index = 2979
num_rows_proceed = 3010
start_index = 3010
num_rows_proceed = 3041
start_index = 3041
num_rows_proceed = 3072
start_index = 3072
num_rows_proceed = 3103
start_index = 3103
num_rows_proceed = 3134
start_index = 3134
num_rows_proceed = 3165
start_index = 3165
num_rows_proceed = 3196