In [1]:
from igraph import *
import pandas as pd
import numpy as np
import time
import os
import re
import progressbar
import gzip

In [2]:
from multiprocessing import Pool

In [3]:
import re

In [4]:
#path to data
PATH_TO_DATA = '/media/andrii/earth/Katia/CS_MasterThesis/BabelNet_baseline/uk-en_redlinks/data/enwiki_20180920/art_red/'
PATH_TO_DATA_UK = PATH_TO_DATA
data_time = '20180920'

### Load en_wiki

In [5]:
# wrap your csv importer in a function that can be mapped
def read_csv(filename):
    'converts a filename to a pandas dataframe'
    print(filename)
    return pd.read_csv(filename, encoding='UTF-8', quotechar="\"")

In [6]:
def unpack(file_name):
    file_name_new = file_name.replace(".gz","")
    with gzip.open(file_name, 'rb') as f_in, open(file_name_new, 'wb') as f_out:
        f_out.writelines(f_in)
    return file_name_new

In [7]:
PATH_TO_DATA_EN_FS = '/media/andrii/earth/Katia/CS_MasterThesis/BabelNet_baseline/uk-en_redlinks/data/enwiki_20180920/art_red/'

In [8]:
file_list = []
for file in os.listdir(PATH_TO_DATA):
    if file.endswith("art.csv.gz"):
        file_path = os.path.join(PATH_TO_DATA_EN_FS,file)
        file_list.append(file_path)

In [9]:
len(file_list)

55

In [26]:
fname_new = unpack(file_list[1])

In [27]:
df = pd.read_csv(fname_new, encoding='UTF-8', quotechar="\"")

In [29]:
df.head()

         id  link_id                  link_val is_red_link
0  54663463  5136097        Tracey Takes On...       False
1  54663463  4765530                       HBO       False
2  54663463   151921                Emmy Award       False
3  54663463   142724        Golden Globe Award       False
4  54663463  3620874  54th Golden Globe Awards       False

In [30]:
if df['is_red_link'].dtype == 'bool':
    df_en_links = df[df['is_red_link']==False][['id','link_id']]
else:
    df_en_links = df[df['is_red_link']=='False'][['id','link_id']]

In [31]:
df_en_links

               id   link_id
0        54663463   5136097
1        54663463   4765530
2        54663463    151921
3        54663463    142724
4        54663463   3620874
5        54663463   6579025
6        54663463   4293294
7        54663463    610508
8        54663463    595970
9        54663463   4301459
10       54663463   1604547
11       54663463   1645194
12       54663463   1978736
13       54663463    113157
14       54663463   4227415
15       54663463   2855554
16       54663463   1239779
17       54663483   3434750
18       54663483     32070
19       54663483   9193600
20       54663485  52906381
21       54663485  52906381
22       54663485  24504672
23       54663485     22719
24       54663485    937971
25       54663485   1761461
26       54663485     33613
27       54663485   2779031
28       54663485   2697067
29       54663485  43432956
...           ...       ...
2810122  56163436    682978
2810123  56163436  17962972
2810124  56163437     38327
2810125  56163437    521502
2810126  56163437   5058739
2810127  56163437  18882270
2810128  56163437  18882270
2810129  56163437    521502
2810130  56163437     38327
2810131  56163437     73298
2810132  56163450    652569
2810133  56163450   5518041
2810134  56163450   1074048
2810135  56163450    137768
2810136  56163450   9721922
2810137  56163450  21703840
2810138  56163450  50144988
2810140  56163450  54777341
2810141  56163457   1127526
2810142  56163457   2204846
2810143  56163457  13761017
2810146  56163457   1127526
2810147  56163457  21042853
2810148  56163457   1127526
2810149  56163457   2204846
2810150  56163457  13761017
2810151  56163457    152066
2810152  56163457  13465150
2810155  56163457   2020123
2810156  56163457   4658568

[2318681 rows x 2 columns]

In [17]:
#pool = Pool(processes=12)
#df_list = pool.map(read_csv, file_list)
#combined_df = pd.concat(df_list, ignore_index=True)

In [10]:
#df = read_csv('/media/andrii/earth/Katia/uk-en_redlinks/data/enwiki/files_split/xaaaa')
df_en_links_val_total = np.empty((0,2), dtype=np.int)
for fname in file_list:
    fname_new = unpack(fname)
    df = pd.read_csv(fname_new, encoding='UTF-8', quotechar="\"")
    if df['is_red_link'].dtype == 'bool':
        df_en_links = df[df['is_red_link']==False][['id','link_id']]
    else:
        df_en_links = df[df['is_red_link']=='False'][['id','link_id']]
        
    df_en_links_val = df_en_links.values.astype(np.int)
    df_en_links_val_total = np.concatenate((df_en_links_val_total, df_en_links_val))

In [11]:
np.save(os.path.join(PATH_TO_DATA, 'results_save.npy'), df_en_links_val_total)

In [ ]:
print(df_en.shape)
print(df_en.columns)

In [ ]:
df_en_name = df_en_full[df_en_full['is_red_link']==False][['id','link_val']]

In [ ]:
# article names
print(df_en_name.shape)
print(df_en_name.columns)

### Load uk_wiki

In [8]:
df_uk_full = pd.read_csv(PATH_TO_DATA_UK+'ukwiki-20180920-pages-links.csv')

In [9]:
df_uk_full.head()

   id  link_id            link_val is_red_link
0  13   884280  Об'єкт (філософія)       False
1  13    21623           Ератосфен       False
2  13   274944             географ       False
3  13    26194    Клавдій Птолемей       False
4  13    20459         Відродження       False

In [10]:
df_uk_full.shape

(22693778, 4)

In [11]:
df_uk_blue = df_uk_full[df_uk_full['is_red_link']==False][['id','link_id']]

In [12]:
df_uk_red = df_uk_full[df_uk_full['is_red_link']==True][['id','link_val']]

In [13]:
print('blue links:')
print(df_uk_blue.shape)
print(df_uk_blue.columns)
print()
print('red links:')
print(df_uk_red.shape)
print(df_uk_red.columns)

blue links:
(19818824, 2)
Index(['id', 'link_id'], dtype='object')

red links:
(2874954, 2)
Index(['id', 'link_val'], dtype='object')

In [14]:
df_uk_red.head()

      id                                     link_val
37    13                           Географія розвитку
41    13                               Географія часу
49    13                         Туристична географія
119  584      рентгенівська спектроскопія поглинання
120  584  рентгенівська фото електронна спектроскопія

In [15]:
# article names
df_uk_name = pd.read_csv(PATH_TO_DATA+"ukwiki-" + data_time + "-id_name.csv", encoding='utf-8', sep="^")

print(df_uk_name.shape)
print(df_uk_name.columns)

(819212, 3)
Index(['id', 'title', 'length'], dtype='object')

In [16]:
df_uk_name.head()

    id             title  length
0    3  Головна сторінка    3197
1   13         Географія   16843
2  584              Атом   35112
3  585           Мільярд    1759
4  586              Ядро    8064

In [17]:
# find maximum id among blue links
max_id = np.max(df_uk_name['id'])

In [18]:
# find unique titles among red links, create df with

red_links = df_uk_red['link_val'].unique()

red_links_ids = pd.DataFrame({'title': red_links, 
                               'id': np.arange(max_id+1, len(red_links)+max_id+1)})

In [19]:
red_links_ids.head()

        id                                        title
0  2817993                           Географія розвитку
1  2817994                               Географія часу
2  2817995                         Туристична географія
3  2817996      рентгенівська спектроскопія поглинання
4  2817997  рентгенівська фото електронна спектроскопія

In [20]:
df_uk_red_ext = df_uk_red.merge(right = red_links_ids, left_on = 'link_val', right_on = 'title', how = 'right')

In [21]:
df_uk_red_ext = df_uk_red_ext[['id_x', 'link_val', 'id_y']]
df_uk_red_ext.columns = ['id_parent', 'red_link_name', 'red_link_id']

In [22]:
df_uk_red_ext.head()

   id_parent                            red_link_name  red_link_id
0         13                       Географія розвитку      2817993
1         13                           Географія часу      2817994
2    1928599                           Географія часу      2817994
3         13                     Туристична географія      2817995
4        584  рентгенівська спектроскопія поглинання       2817996

In [23]:
df_uk_red_ext.shape

(2874954, 3)

In [ ]:
df_uk_red_ext.to_csv(PATH_TO_DATA+'all_uk_redlinks.csv')

### Load uk-en correpondences

In [6]:
fn = PATH_TO_DATA+'20180920-langlinks_uk_en.csv'
df_link = pd.read_csv(fn,  encoding='UTF-8', quotechar='\'')
print(df_link.shape)
print(df_link.columns)

(599612, 3)
Index(['ll_from', 'll_lang', 'll_title'], dtype='object')

In [8]:
df_link.head()

   ll_from ll_lang                          ll_title
0  2112530      en  ! (The Dismemberment Plan album)
1  1366003      en                ! (disambiguation)
2  2141483      en                                !!
3   425480      en                               !!!
4   848226      en                     !Action Pact!

In [9]:
df_uk_red_ext = pd.read_csv(PATH_TO_DATA+'all_uk_redlinks.csv')

In [10]:
df_uk_red_ext.head()

   id_parent                            red_link_name  red_link_id
0         13                       Географія розвитку      2817993
1         13                           Географія часу      2817994
2    1928599                           Географія часу      2817994
3         13                     Туристична географія      2817995
4        584  рентгенівська спектроскопія поглинання       2817996

In [15]:
df_uk_red_ext.shape

(2874954, 3)

In [12]:
# add en correspondences to uk parent pages for red links
df_uk_red_corresp = df_uk_red_ext.merge(right = df_link, left_on = 'id_parent', right_on = 'll_from', how = 'left')

In [13]:
df_uk_red_corresp.head()

,id_parent,red_link_name,red_link_id,ll_from,ll_lang,ll_title
0,13,Географія розвитку,2817993,13.0,en,Geography
1,13,Географія часу,2817994,13.0,en,Geography
2,1928599,Географія часу,2817994,1928599.0,en,Geography (disambiguation)
3,13,Туристична географія,2817995,13.0,en,Geography
4,584,рентгенівська спектроскопія поглинання,2817996,584.0,en,Atom

In [18]:
print(df_uk_red_corresp[df_uk_red_corresp["ll_from"].isnull()])

         id_parent                                      red_link_name  \
6              586                                    Ядро (геологія)
7              586                                 мезолімбічний шлях
13         2232599                                  Клінічна біохімія
24          629917                         Каяндер Микола Миколайович
26           59851                                          ценологія
52          474057                          Ареальна класифікація мов
53          474344                          Ареальна класифікація мов
57          619337                                           збирання
60          672214                                           прохання
61          975714                                           прохання
68         1370318                                               поза
69         1519704                                               поза
90          776396                   Всеукраїнський комітет есперанто
94          776396  Українське республіканське відділення Асоціаці...
111        2097006                              Крайова Рада Народова
118         740028                                       Анжела Девіс
131         862797                                      Тоні Еспозіто
132         862797                                      Тоні Еспозіто
158        1621556                                       Річард Девіс
159        1621873                                       Річард Девіс
160        1621897                                       Річард Девіс
162        1624497                                       Річард Девіс
200         178518                                   театральний діяч
201         178518                                   театральний діяч
202         233173                                   театральний діяч
203         389489                                   театральний діяч
204         607674                                   театральний діяч
205         961702                                   театральний діяч
207        2382991                                   театральний діяч
227        1719408                                     Олег Стриженов
...            ...                                                ...
2874908    2817147                                        Роз'їзд 226
2874909    2817147                                уварово (Казахстан)
2874910    2817147                             чорногорка (Казахстан)
2874911    2817149                      прогрес (Глибоківський район)
2874912    2817149                                          Сметаніно
2874913    2817151                                 аврора (Казахстан)
2874914    2817151                             перевальне (Казахстан)
2874915    2817167                                          Бахмутово
2874916    2817183                                         Карагужиха
2874919    2817379                                          Ячменьова
2874920    2817379                         Ячменьов Григорій Єгорович
2874923    2817491                                    Каменний Кар'єр
2874924    2817491                       степне (Глибоківський район)
2874925    2817493                            Хосе Мозіню-да-Сілвейра
2874926    2817493                       Генеральна рада (Португалія)
2874927    2817506                 Фінал кубка Австрії з футболу 1936
2874931    2817604                       веселе (Глибоківський район)
2874932    2817604                                              Винне
2874933    2817604                                     Горна Ульбінка
2874934    2817604                                         Нова Ульба
2874935    2817604                                             Топіха
2874936    2817604                                  Ульба перевалочна
2874939    2817745                     калініно (Глибоківський район)
2874940    2817762                   Електронна промисловість України
2874942    2817819                   білоусовка (Глибоківський район)
2874943    2817819                   білоусовка (Глибоківський район)
2874944    2817819                  білокаменка (Глибоківський район)
2874945    2817819               новомихайловка (Глибоківський район)
2874946    2817819                                         Планідовка
2874953    2817966                                Lundin Petroleum AB

         red_link_id  ll_from ll_lang ll_title
6            2817998      NaN     NaN      NaN
7            2817999      NaN     NaN      NaN
13           2818000      NaN     NaN      NaN
24           2818006      NaN     NaN      NaN
26           2818007      NaN     NaN      NaN
52           2818021      NaN     NaN      NaN
53           2818021      NaN     NaN      NaN
57           2818023      NaN     NaN      NaN
60           2818025      NaN     NaN      NaN
61           2818025      NaN     NaN      NaN
68           2818028      NaN     NaN      NaN
69           2818028      NaN     NaN      NaN
90           2818038      NaN     NaN      NaN
94           2818041      NaN     NaN      NaN
111          2818049      NaN     NaN      NaN
118          2818053      NaN     NaN      NaN
131          2818061      NaN     NaN      NaN
132          2818061      NaN     NaN      NaN
158          2818066      NaN     NaN      NaN
159          2818066      NaN     NaN      NaN
160          2818066      NaN     NaN      NaN
162          2818066      NaN     NaN      NaN
200          2818079      NaN     NaN      NaN
201          2818079      NaN     NaN      NaN
202          2818079      NaN     NaN      NaN
203          2818079      NaN     NaN      NaN
204          2818079      NaN     NaN      NaN
205          2818079      NaN     NaN      NaN
207          2818079      NaN     NaN      NaN
227          2818088      NaN     NaN      NaN
...              ...      ...     ...      ...
2874908      4381648      NaN     NaN      NaN
2874909      4381649      NaN     NaN      NaN
2874910      4381650      NaN     NaN      NaN
2874911      4381651      NaN     NaN      NaN
2874912      4381652      NaN     NaN      NaN
2874913      4381653      NaN     NaN      NaN
2874914      4381654      NaN     NaN      NaN
2874915      4381655      NaN     NaN      NaN
2874916      4381656      NaN     NaN      NaN
2874919      4381659      NaN     NaN      NaN
2874920      4381660      NaN     NaN      NaN
2874923      4381663      NaN     NaN      NaN
2874924      4381664      NaN     NaN      NaN
2874925      4381665      NaN     NaN      NaN
2874926      4381666      NaN     NaN      NaN
2874927      4381667      NaN     NaN      NaN
2874931      4381670      NaN     NaN      NaN
2874932      4381671      NaN     NaN      NaN
2874933      4381672      NaN     NaN      NaN
2874934      4381673      NaN     NaN      NaN
2874935      4381674      NaN     NaN      NaN
2874936      4381675      NaN     NaN      NaN
2874939      4381678      NaN     NaN      NaN
2874940      4381679      NaN     NaN      NaN
2874942      4381681      NaN     NaN      NaN
2874943      4381681      NaN     NaN      NaN
2874944      4381682      NaN     NaN      NaN
2874945      4381683      NaN     NaN      NaN
2874946      4381684      NaN     NaN      NaN
2874953      4381690      NaN     NaN      NaN

[580183 rows x 6 columns]

In [19]:
df_uk_red_corresp = df_uk_red_corresp[pd.notnull(df_uk_red_corresp['ll_from'])]

In [20]:
df_uk_red_corresp.head()

,id_parent,red_link_name,red_link_id,ll_from,ll_lang,ll_title
0,13,Географія розвитку,2817993,13.0,en,Geography
1,13,Географія часу,2817994,13.0,en,Geography
2,1928599,Географія часу,2817994,1928599.0,en,Geography (disambiguation)
3,13,Туристична географія,2817995,13.0,en,Geography
4,584,рентгенівська спектроскопія поглинання,2817996,584.0,en,Atom

In [21]:
df_uk_red_corresp = df_uk_red_corresp[['id_parent','red_link_name', 'red_link_id']]

In [22]:
df_uk_red_corresp = df_uk_red_corresp.sort_values(by = 'red_link_id')

In [23]:
df_uk_red_corresp = df_uk_red_corresp.drop_duplicates(keep = 'first')

In [24]:
df_uk_red_corresp = df_uk_red_corresp.dropna()

In [25]:
df_uk_red_corresp

,id_parent,red_link_name,red_link_id
0,13,Географія розвитку,2817993
1,13,Географія часу,2817994
2,1928599,Географія часу,2817994
3,13,Туристична географія,2817995
4,584,рентгенівська спектроскопія поглинання,2817996
5,584,рентгенівська фото електронна спектроскопія,2817997
11,2328123,мезолімбічний шлях,2817999
10,1209913,мезолімбічний шлях,2817999
8,42037,мезолімбічний шлях,2817999
9,427773,мезолімбічний шлях,2817999
12,588,Клінічна біохімія,2818000
14,588,Токсикологічна хімія,2818001
15,588,Спектрохімія,2818002
16,588,Скринінг (мікробіологія),2818003
17,1453980,Скринінг (мікробіологія),2818003
21,2016653,Структурна хімія,2818004
20,203221,Структурна хімія,2818004
18,588,Структурна хімія,2818004
19,33581,Структурна хімія,2818004
22,588,Економія атомів,2818005
23,588,Каяндер Микола Миколайович,2818006
25,592,ценологія,2818007
27,592,Вікова анатомія,2818008
28,2556491,Вікова анатомія,2818008
29,592,Глікобіологія,2818009
30,2556491,Глікобіологія,2818009
31,592,Фізіологія грибів,2818010
32,2556491,Фізіологія грибів,2818010
34,2556491,Ценологія,2818011
33,592,Ценологія,2818011
...,...,...,...
2874892,2817048,Kościół Matki Bożej Częstochowskiej w Jabłowie,4381632
2874893,2817071,Ptasi Śpiew,4381633
2874894,2817071,Śnieżka,4381634
2874895,2817074,Kościół Chrystusa Króla w Borównie,4381635
2874896,2817085,zamek Rogowiec,4381636
2874897,2817100,Głuszyca,4381637
2874900,2817142,Ян Беннетт,4381640
2874901,2817142,Майкл Джонсон (футболіст),4381641
2874902,2817142,Джон Маккарті (футболіст),4381642
2874903,2817142,Мартін Оконнор,4381643
2874904,2817142,Данні Соннер,4381644
2874905,2817142,Джофф Горсфілд,4381645
2874906,2817142,Деле Адебола,4381646
2874907,2817142,Девід Голдсворт,4381647
2874917,2817260,Klasztor w Głębowicach,4381657
2874918,2817312,cukrownia,4381658
2874921,2817436,Lubiąż,4381661
2874922,2817455,Pałac w Żerkowie,4381662
2874928,2817560,Mirków (województwo dolnośląskie),4381668
2874929,2817605,Mirków (województwo dolnośląskie),4381668
2874930,2817567,Pasikurowice (przystanek kolejowy),4381669
2874937,2817605,Siedlec Trzebnicki,4381676
2874938,2817727,Spichlerz,4381677
2874941,2817809,Pałac w Świątnikach,4381680
2874947,2817879,Pałac w Krobielowicach,4381685
2874948,2817891,Ochotnicza Straż Pożarna,4381686
2874949,2817915,Kąty Wrocławskie,4381687
2874951,2817934,Bystrzyca (dopływ Odry),4381688
2874950,2817931,Bystrzyca (dopływ Odry),4381688
2874952,2817934,Pałac w Sadowicach,4381689

### Encode red links incoming en links

In [26]:
# for every red link calculate number of incoming links
df_red_links_most_common = df_uk_red_corresp['red_link_id'].value_counts().reset_index()
df_red_links_most_common.head()

     index  red_link_id
0  2863363          941
1  2969558          848
2  2818234          795
3  4175214          760
4  3061067          687

In [27]:
df_red_links_most_common.columns = ['red_link_id_', 'count']

In [28]:
df_red_links_most_common.head()

   red_link_id_  count
0       2863363    941
1       2969558    848
2       2818234    795
3       4175214    760
4       3061067    687

In [31]:
df_red_links_most_common = df_red_links_most_common[(df_red_links_most_common['count'] >= 25)]
df_red_links_most_common

      red_link_id_  count
0          2863363    941
1          2969558    848
2          2818234    795
3          4175214    760
4          3061067    687
5          2820761    660
6          3514786    639
7          2826645    502
8          2826643    502
9          2826644    502
10         2826646    495
11         2825683    473
12         2826647    454
13         2825788    449
14         2880208    442
15         2928487    379
16         2968069    370
17         3042728    361
18         3052884    352
19         3274856    351
20         3046311    345
21         3280351    339
22         3356167    330
23         2867683    329
24         3136748    318
25         2922250    309
26         3077460    300
27         2989657    294
28         3139776    288
29         3140070    269
...            ...    ...
3345       4069242     25
3346       3716847     25
3347       4069431     25
3348       3583270     25
3349       3356204     25
3350       2830738     25
3351       4069522     25
3352       4069632     25
3353       3292736     25
3354       3178053     25
3355       2921593     25
3356       3045842     25
3357       4070427     25
3358       4228547     25
3359       3726458     25
3360       3723869     25
3361       4070887     25
3362       3218550     25
3363       4070655     25
3364       2994354     25
3365       3061979     25
3366       3434632     25
3367       4069863     25
3368       4069950     25
3369       3169491     25
3370       4070169     25
3371       4070830     25
3372       4070605     25
3373       4069929     25
3374       3179605     25

[3375 rows x 2 columns]

In [32]:
df_red_links_most_common['red_link_id_'].min()

2818115

In [34]:
result = df_uk_red_corresp.merge(right = df_red_links_most_common,
                                 left_on = 'red_link_id', right_on = 'red_link_id_', how = 'inner')

In [35]:
result

,id_parent,red_link_name,red_link_id,red_link_id_,count
0,2581857,Каунт Бейсі,2818115,2818115,43
1,2579654,Каунт Бейсі,2818115,2818115,43
2,2543496,Каунт Бейсі,2818115,2818115,43
3,2543162,Каунт Бейсі,2818115,2818115,43
4,2389752,Каунт Бейсі,2818115,2818115,43
5,2535297,Каунт Бейсі,2818115,2818115,43
6,2530258,Каунт Бейсі,2818115,2818115,43
7,2525341,Каунт Бейсі,2818115,2818115,43
8,2590135,Каунт Бейсі,2818115,2818115,43
9,2538289,Каунт Бейсі,2818115,2818115,43
10,2593875,Каунт Бейсі,2818115,2818115,43
11,2598513,Каунт Бейсі,2818115,2818115,43
12,2598275,Каунт Бейсі,2818115,2818115,43
13,2602651,Каунт Бейсі,2818115,2818115,43
14,2603382,Каунт Бейсі,2818115,2818115,43
15,2609343,Каунт Бейсі,2818115,2818115,43
16,2641395,Каунт Бейсі,2818115,2818115,43
17,2695892,Каунт Бейсі,2818115,2818115,43
18,2597205,Каунт Бейсі,2818115,2818115,43
19,2324216,Каунт Бейсі,2818115,2818115,43
20,2322728,Каунт Бейсі,2818115,2818115,43
21,2321031,Каунт Бейсі,2818115,2818115,43
22,625,Каунт Бейсі,2818115,2818115,43
23,36823,Каунт Бейсі,2818115,2818115,43
24,159088,Каунт Бейсі,2818115,2818115,43
25,202525,Каунт Бейсі,2818115,2818115,43
26,202608,Каунт Бейсі,2818115,2818115,43
27,202613,Каунт Бейсі,2818115,2818115,43
28,221479,Каунт Бейсі,2818115,2818115,43
29,533368,Каунт Бейсі,2818115,2818115,43
...,...,...,...,...,...
178740,2816200,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178741,2816141,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178742,2816206,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178743,2816298,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178744,2816289,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178745,2816286,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178746,2816283,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178747,2816203,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178748,2816280,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178749,2816277,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178750,2816274,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178751,2816269,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178752,2816266,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178753,2816263,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178754,2816259,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178755,2816301,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178756,2816257,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178757,2816248,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178758,2816243,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178759,2816240,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178760,2816237,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178761,2816234,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178762,2816231,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178763,2816229,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178764,2816224,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178765,2816219,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178766,2816217,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178767,2816214,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178768,2816212,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115
178769,2816253,Свідницький повіт (Нижньосілезьке воєводство){...,4381612,4381612,115

In [36]:
result.loc[result['count'].idxmax()]

id_parent             2518974
red_link_name    ацетилювання
red_link_id           2863363
red_link_id_          2863363
count                     941
Name: 8412, dtype: object

In [37]:
result_red_links_uk = result['red_link_name'].unique()

In [38]:
df_result_red_links_uk = pd.DataFrame(result_red_links_uk, columns=['red_link_name'])

In [54]:
# save red links to file
df_result_red_links_uk.to_csv(PATH_TO_DATA+'df_result_red_links_uk.csv', header=True, index=False)

In [55]:
# load 
df_red_links = pd.read_csv(PATH_TO_DATA+'df_result_red_links_uk.csv')

In [56]:
df_red_links

                                          red_link_name
0                                           Каунт Бейсі
1                                 Українська служба BBC
2                                              аль-Каїм
3                                            католицизм
4                                              королева
5                                            Католицизм
6                                         Prentice Hall
7                                              Tokar.ua
8     Monthly Notices of the Royal Astronomical Society
9                                         Західний світ
10                                   Світ (видавництво)
11                              Дубович Іван Андрійович
12                               помірні повітряні маси
13                         Доповідь про торгівлю людьми
14    Управління з моніторингу та боротьби з торгівл...
15    Управління з моніторингу та боротьби з торгівл...
16                          Руденко Ірина Станіславівна
17                         Радченко Вероніка Вікторівна
18                        Вакуленко Олена Володимирівна
19                          Скуратович Олег Ярославович
20                                Чанцева Ніна Іванівна
21      Головне управління геодезії та картографії СРСР
22                                         Random House
23                                     Simon & Schuster
24                                    Панчакутек Юпанкі
25                                                Земун
26                            Східний тюркський каганат
27                                  Приморська Хорватія
28                                           Раштакурти
29                                           моніторинг
...                                                 ...
3345                                      Беверлі Бовіс
3346                         Сенді Коллінз (тенісистка)
3347                            Луїс Аллен (тенісистка)
3348                                        Лаура Аррая
3349                                       С'юзен Слоун
3350                                   Пінат Луї Гарпер
3351                                       Пілар Васкес
3352                                              Ху На
3353                                       Кім Стейнмец
3354                                         Пем Кеселі
3355                                        Ліса Бондер
3356                                        Іноуе Ецуко
3357                                         Ева Крапль
3358                                      Сабрина Голеш
3359                                        Террі Фелпс
3360                                         Селін Коен
3361                            Венді Вайт (тенісистка)
3362                                     Тіна Мочідзукі
3363                                         Нейже Діас
3364                                       Карен Шимпер
3365                                      Мішелл Торрес
3366                                      Лі Антонопліс
3367                                     Мері-Лу П'ятек
3368                                   Патрісія Медрадо
3369                                    С'юзен Маскарін
3370                                      Алісія Молтон
3371                                    Сабіна Сіммондс
3372                                         Latin Rite
3373  Сьредський повіт (Нижньосілезьке воєводство){{...
3374  Свідницький повіт (Нижньосілезьке воєводство){...

[3375 rows x 1 columns]