In [1]:
import codecs
import csv
import time
import os
import re
import gzip
import pandas as pd
import numpy as np

In [2]:
PATH_TO_DATA = '/media/andrii/earth/Katia/CS_MasterThesis/data/'
PATH_TO_DATA_EN = PATH_TO_DATA+"enwiki/"
PATH_TO_DATA_UK = PATH_TO_DATA+"ukwiki/"
data_time = '20180920'

In [3]:
ENWIKI_ART_FNMS = []
for file in os.listdir(PATH_TO_DATA):
    if re.match(r"enwiki-20180920-stub-meta-current.xml_art.csv.gz", file):
        ENWIKI_ART_FNMS.append(file)
ENWIKI_RED_FNMS = []
for file in os.listdir(PATH_TO_DATA):
    if re.match(r"enwiki-20180920-stub-meta-current.xml_red.csv.gz", file):
        ENWIKI_RED_FNMS.append(file)

In [5]:
ENWIKI_ART_FNMS

['enwiki-20180920-stub-meta-current.xml_art.csv.gz']

In [6]:
def unpack(file_name):
    file_name_new = file_name.replace(".gz","")
    with gzip.open(file_name, 'rb') as f_in, open(file_name_new, 'wb') as f_out:
        f_out.writelines(f_in)
    return file_name_new

In [7]:
def pack_and_remove(file_name):
    file_name_new = file_name+'.gz'
    with open(file_name, 'rb') as f_in, gzip.open(file_name_new, 'wb') as f_out:
        f_out.writelines(f_in)
    os.remove(file_name)
    return file_name_new

In [8]:
df_en_id_name = None
for fn in ENWIKI_ART_FNMS:
    fn = PATH_TO_DATA+fn
    print(fn)
    fn_new = unpack(fn)
    df_articles = pd.read_csv(fn_new, encoding='ISO-8859-1', quotechar="\"")
    df_en_id_name_tmp = df_articles[['id', 'title', 'text_len']].drop_duplicates()
    df_en_id_name_tmp.columns = ['id', 'title', 'length']
    #print("df_id_name_tmp size: {}".format(df_id_name_tmp.shape))
    if df_en_id_name is not None:
        df_en_id_name = df_en_id_name.append(df_en_id_name_tmp)        
        #print("append")
    else:
        df_en_id_name = df_en_id_name_tmp
        #print("assign")
    print("df_en_id_name size: {}".format(df_en_id_name.shape))
    os.remove(fn_new)

/media/andrii/earth/Katia/CS_MasterThesis/BabelNet_baseline/uk-en_redlinks/data/auxiliary_files/enwiki-20180920-stub-meta-current.xml_art.csv.gz
df_en_id_name size: (5719743, 3)

In [9]:
df_en_id_name = df_en_id_name.drop_duplicates()

In [10]:
df_en_id_name = df_en_id_name[['id', 'title']]
df_en_id_name.head()

    id      title
0   12  Anarchism
1   25     Autism
2   39     Albedo
3  290          A
4  303    Alabama

In [18]:
df_en_id_name.head(5000)

         id                                     title
0        12                                 Anarchism
1        25                                    Autism
2        39                                    Albedo
3       290                                         A
4       303                                   Alabama
5       305                                  Achilles
6       307                           Abraham Lincoln
7       308                                 Aristotle
8       309                      An American in Paris
9       316  Academy Award for Best Production Design
10      324                            Academy Awards
11      330                                   Actrius
12      332                           Animalia (book)
13      334                 International Atomic Time
14      336                                  Altruism
15      339                                  Ayn Rand
16      340                              Alain Connes
17      344                                Allan Dwan
18      358                                   Algeria
19      359         List of Atlas Shrugged characters
20      569                              Anthropology
21      572                      Agricultural science
22      573                                   Alchemy
23      579                                     Alien
24      580                                Astronomer
25      586                                     ASCII
26      590                   Austin (disambiguation)
27      593                                 Animation
28      594                                    Apollo
29      595                              Andre Agassi
...     ...                                       ...
4970  10477                                       Eos
4971  10478                     Eduardo Blasco Ferrer
4972  10479                                      Elba
4973  10480                                      Etna
4974  10481                                      Enki
4975  10482                               Eli Wallach
4976  10484                  Electric Light Orchestra
4977  10486                                       Elo
4978  10487                              Evil Dead II
4979  10489                              Edwin Hubble
4980  10490                           Emperor NinmyÅ
4981  10491                           Emperor Montoku
4982  10492                             Emperor Seiwa
4983  10493                            Emperor YÅzei
4984  10494                            Emperor KÅkÅ
4985  10495                               Emperor Uda
4986  10496                                     Daigo
4987  10497                                    Suzaku
4988  10498                                  Murakami
4989  10500                              Earless seal
4990  10501                                 Espionage
4991  10503            Exile (1995 video game series)
4992  10504                                    Reizei
4993  10506                             Emperor Kazan
4994  10507                                   IchijÅ
4995  10508                                    SanjÅ
4996  10510                            Elvis Costello
4997  10511                                  Epilepsy
4998  10515                   Extrasensory perception
4999  10517                        Economies of scale

[5000 rows x 2 columns]

In [19]:
f = lambda x: str(x).encode('ISO-8859-1')
df_en_id_name = df_en_id_name.applymap(f)

In [20]:
f_decode = lambda x: x.decode('utf8')
df_en_id_name = df_en_id_name.applymap(f_decode)

In [23]:
df_en_id_name.to_csv(PATH_TO_DATA+'enwiki-' + data_time + '-id_name.csv', index = False, encoding='utf8', sep ='^')

In [24]:
df_en_id_name_read = pd.read_csv(PATH_TO_DATA+'enwiki-' + data_time + '-id_name.csv', encoding='utf8', sep ='^')

In [26]:
df_en_id_name_read.head(5000)

         id                                     title
0        12                                 Anarchism
1        25                                    Autism
2        39                                    Albedo
3       290                                         A
4       303                                   Alabama
5       305                                  Achilles
6       307                           Abraham Lincoln
7       308                                 Aristotle
8       309                      An American in Paris
9       316  Academy Award for Best Production Design
10      324                            Academy Awards
11      330                                   Actrius
12      332                           Animalia (book)
13      334                 International Atomic Time
14      336                                  Altruism
15      339                                  Ayn Rand
16      340                              Alain Connes
17      344                                Allan Dwan
18      358                                   Algeria
19      359         List of Atlas Shrugged characters
20      569                              Anthropology
21      572                      Agricultural science
22      573                                   Alchemy
23      579                                     Alien
24      580                                Astronomer
25      586                                     ASCII
26      590                   Austin (disambiguation)
27      593                                 Animation
28      594                                    Apollo
29      595                              Andre Agassi
...     ...                                       ...
4970  10477                                       Eos
4971  10478                     Eduardo Blasco Ferrer
4972  10479                                      Elba
4973  10480                                      Etna
4974  10481                                      Enki
4975  10482                               Eli Wallach
4976  10484                  Electric Light Orchestra
4977  10486                                       Elo
4978  10487                              Evil Dead II
4979  10489                              Edwin Hubble
4980  10490                            Emperor Ninmyō
4981  10491                           Emperor Montoku
4982  10492                             Emperor Seiwa
4983  10493                             Emperor Yōzei
4984  10494                              Emperor Kōkō
4985  10495                               Emperor Uda
4986  10496                                     Daigo
4987  10497                                    Suzaku
4988  10498                                  Murakami
4989  10500                              Earless seal
4990  10501                                 Espionage
4991  10503            Exile (1995 video game series)
4992  10504                                    Reizei
4993  10506                             Emperor Kazan
4994  10507                                    Ichijō
4995  10508                                     Sanjō
4996  10510                            Elvis Costello
4997  10511                                  Epilepsy
4998  10515                   Extrasensory perception
4999  10517                        Economies of scale

[5000 rows x 2 columns]