In [1]:
import csv
import os
import gzip
import pandas as pd
import numpy as np

In [2]:
PATH_TO_DATA = '/media/andrii/earth/Katia/CS_MasterThesis/BabelNet_baseline/uk-en_redlinks/data/auxiliary_files/'
data_time = '20180920'

In [4]:
ukredlinks_with_en = pd.read_csv(PATH_TO_DATA+'df_allukredlinks_withentitle.csv')

In [6]:
ukredlinks_with_en.head()

,id_parent,red_link_name,red_link_id,ll_title
0,13,Географія розвитку,2817993,Geography
1,13,Географія часу,2817994,Geography
2,1928599,Географія часу,2817994,Geography (disambiguation)
3,13,Туристична географія,2817995,Geography
4,584,рентгенівська спектроскопія поглинання,2817996,Atom

In [8]:
# add en ids for parent articles
en_idname = pd.read_csv(PATH_TO_DATA+'enwiki-20180920-id_name.csv', sep='^')

In [14]:
en_idname.head()

    id      title
0   12  Anarchism
1   25     Autism
2   39     Albedo
3  290          A
4  303    Alabama

In [16]:
ukredlinks_with_enids = pd.merge(ukredlinks_with_en, en_idname, how='left', left_on=['ll_title'], right_on=['title'])

In [18]:
ukredlinks_with_enids = ukredlinks_with_enids[['id_parent', 'red_link_name', 'red_link_id', 'id', 'title']]

In [19]:
ukredlinks_with_enids.head()

,id_parent,red_link_name,red_link_id,id,title
0,13,Географія розвитку,2817993,18963910.0,Geography
1,13,Географія часу,2817994,18963910.0,Geography
2,1928599,Географія часу,2817994,17717598.0,Geography (disambiguation)
3,13,Туристична географія,2817995,18963910.0,Geography
4,584,рентгенівська спектроскопія поглинання,2817996,902.0,Atom

In [20]:
ukredlinks_sample = pd.read_csv(PATH_TO_DATA+'/redlink_sample/'+'df_sample_red_links_uk.csv')

In [23]:
ukredlinks_with_enids_sample = pd.merge(ukredlinks_sample, ukredlinks_with_enids,
                                        how='left', left_on=['red_link_name'], right_on=['red_link_name'])

In [27]:
ukredlinks_with_enids_sample = ukredlinks_with_enids_sample[pd.notnull(ukredlinks_with_enids_sample['id'])]

In [30]:
ukredlinks_with_enids_sample = ukredlinks_with_enids_sample.drop_duplicates()

In [47]:
ukredlinks_with_enids_sample.to_csv(PATH_TO_DATA+"ukredlinks_with_enids_sample.csv", 
                     index = False, encoding='UTF-8', quotechar="\"", sep ="^")

In [46]:
ukredlinks_with_enids_sample.head()

  red_link_name  id_parent  red_link_id         id            title
0   Каунт Бейсі        625      2818114    34651.0             1904
1   Каунт Бейсі      36823      2818114   605856.0        WordPress
3   Каунт Бейсі     202525      2818114    50350.0  Ella Fitzgerald
4   Каунт Бейсі     202608      2818114    22519.0   Oscar Peterson
5   Каунт Бейсі     202613      2818114  2193014.0     Lester Young

In [49]:
# get non-translated English articles
fn = PATH_TO_DATA+'20180920-langlinks_uk_en.csv'
df_link = pd.read_csv(fn,  encoding='UTF-8', quotechar='\'')

In [50]:
translated_en_articles = pd.merge(en_idname, df_link,
                                        how='left', left_on=['title'], right_on=['ll_title'])

In [51]:
translated_en_articles = translated_en_articles[['id', 'title', 'll_from']]

In [43]:
translated_en_articles = translated_en_articles[pd.notnull(translated_en_articles['ll_from'])]

In [55]:
non_translated_en_articles = translated_en_articles[translated_en_articles['ll_from'].isnull()]

In [48]:
translated_en_articles.to_csv(PATH_TO_DATA+"translated_en_articles.csv", 
                     index = False, encoding='UTF-8', quotechar="\"", sep ="^")

In [57]:
non_translated_en_articles = non_translated_en_articles[['id', 'title']]

In [58]:
non_translated_en_articles.to_csv(PATH_TO_DATA+"non_translated_en_articles.csv", 
                     index = False, encoding='UTF-8', quotechar="\"", sep ="^")