In [ ]:
# checked that all scores na items are not red links and were dropped before calculating concurrent links

In [1]:
import pandas as pd
import pickle
import time
import os
import re

In [3]:
PATH_TO_DATA_UK = '/media/andrii/earth/Katia/CS_MasterThesis/data/ukwiki/ukwiki_20180920/'
PATH_TO_DATA_EN = '/media/andrii/earth/Katia/CS_MasterThesis/data/enwiki/enwiki_20180920/'
PATH_TO_DATA_RL = '/media/andrii/earth/Katia/CS_MasterThesis/data/ukwiki/uk_red_links/'
PATH_TO_WIKIDATA_UK = '/media/andrii/earth/Katia/CS_MasterThesis/data/ukwiki/uk_wikidata/'
PATH_TO_WIKIDATA_EN = '/media/andrii/earth/Katia/CS_MasterThesis/data/enwiki/en_wikidata/'

In [10]:
candidate_pairs = pd.read_csv(PATH_TO_DATA_RL+'red_links_uk_with_features_with_uniqueid.csv', sep='^')

In [11]:
df_nans = pd.read_csv(PATH_TO_DATA_RL+'concurrent_nans.csv', sep='^')

In [12]:
candidate_pairs.head()

,pair_unique_id,red_link_name,candidate,true_label,BN_results,jaccard_score,levenstein_score
0,0,Pachetra sagittigera,Phytometra viridaria,False,0,0.081,0.650
1,1,Pachetra sagittigera,Conistra rubiginea,False,0,0.076,0.600
2,2,Pachetra sagittigera,Tholera decimalis,False,0,0.068,0.750
3,3,Pachetra sagittigera,Pachetra sagittigera,True,0,0.066,0.000
4,4,Pachetra sagittigera,Hoplodrina octogenaria,False,0,0.066,0.727

In [13]:
df_nans.head()

   pair_id  concur_score_1  concur_score_2  concur_score_3  concur_score_4
0   721287             NaN             NaN             NaN             NaN
1   721288             NaN             NaN             NaN             NaN
2   721289             NaN             NaN             NaN             NaN
3   721290             NaN             NaN             NaN             NaN
4   721291             NaN             NaN             NaN             NaN

In [18]:
# load uk concurrent links pickle file
with open(PATH_TO_DATA_UK+'uk_concurrent_links_dict.p', 'rb') as fp:
    uk_concurrent_links_dict = pickle.load(fp)

In [28]:
nans = pd.merge(df_nans, candidate_pairs, how='left', left_on=['pair_id'], right_on=['pair_unique_id'])

In [33]:
unique_red_links_nans = nans['red_link_name'].unique()

In [36]:
unique_red_links_nans

array(['Міжнародний_олімпійський_комітет', 'Спортивна_гімнастика',
       'академічне_веслування', 'Jadakiss', 'Массеб (кантон)',
       'Велика_Британія', 'Спортивне_плавання', 'легка_атлетика',
       'Південна_Корея', 'Боротьба_(спорт)', 'кінний_спорт',
       'вітрильний_спорт', '1913 у_кіно', '1914 у_кіно'], dtype=object)

In [35]:
for i in unique_red_links_nans:
    set_ = uk_concurrent_links_dict.get(i)
    print(set_ is None)

True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [26]:
set_ is None

True