In [1]:
import pandas as pd

In [9]:
PATH_TO_DATA_UK = '/media/andrii/earth/Katia/CS_MasterThesis/data/ukwiki/'
PATH_TO_DATA_EN = '/media/andrii/earth/Katia/CS_MasterThesis/data/enwiki/en_parsed/'
data_time = '20180920'

In [7]:
ukredlinks_with_en = pd.read_csv(PATH_TO_DATA_UK+'df_allukredlinks_withentitle.csv')

In [8]:
ukredlinks_with_en.head()

,id_parent,red_link_name,red_link_id,ll_title
0,13,Географія розвитку,2817993,Geography
1,13,Географія часу,2817994,Geography
2,1928599,Географія часу,2817994,Geography (disambiguation)
3,13,Туристична географія,2817995,Geography
4,584,рентгенівська спектроскопія поглинання,2817996,Atom

In [10]:
# add en ids for parent articles
en_idname = pd.read_csv(PATH_TO_DATA_EN+'enwiki-20180920-id_name.csv', sep='^')

In [11]:
en_idname.head()

        id                 title
0  6197600  Flying Tigers (film)
1  6197604        Mariano Andreu
2  6197607           David Prain
3  6197617            Rut Brandt
4  6197621    Gregory C. Coleman

In [12]:
ukredlinks_with_enids = pd.merge(ukredlinks_with_en, en_idname, how='left', left_on=['ll_title'], right_on=['title'])

In [13]:
ukredlinks_with_enids = ukredlinks_with_enids[['id_parent', 'red_link_name', 'red_link_id', 'id', 'title']]

In [14]:
ukredlinks_with_enids.head()

,id_parent,red_link_name,red_link_id,id,title
0,13,Географія розвитку,2817993,18963910.0,Geography
1,13,Географія часу,2817994,18963910.0,Geography
2,1928599,Географія часу,2817994,17717598.0,Geography (disambiguation)
3,13,Туристична географія,2817995,18963910.0,Geography
4,584,рентгенівська спектроскопія поглинання,2817996,902.0,Atom

In [15]:
# read cleaned sample
ukredlinks_sample = pd.read_csv(PATH_TO_DATA_UK+'ukredlinks_sample.csv')

In [16]:
ukredlinks_with_enids_sample = pd.merge(ukredlinks_sample, ukredlinks_with_enids,
                                        how='left', left_on=['red_link_name'], right_on=['red_link_name'])

In [17]:
ukredlinks_with_enids_sample = ukredlinks_with_enids_sample[pd.notnull(ukredlinks_with_enids_sample['id'])]

In [18]:
ukredlinks_with_enids_sample = ukredlinks_with_enids_sample.drop_duplicates()

In [19]:
ukredlinks_with_enids_sample.to_csv(PATH_TO_DATA+"ukredlinks_with_enids_sample.csv", 
                     index = False, encoding='UTF-8', quotechar="\"", sep ="^")

In [20]:
ukredlinks_with_enids_sample.head()

  red_link_name  id_parent  red_link_id         id            title
0   Каунт Бейсі        625      2818114    34651.0             1904
1   Каунт Бейсі      36823      2818114   605856.0        WordPress
3   Каунт Бейсі     202525      2818114    50350.0  Ella Fitzgerald
4   Каунт Бейсі     202608      2818114    22519.0   Oscar Peterson
5   Каунт Бейсі     202613      2818114  2193014.0     Lester Young

In [21]:
# get non-translated English articles
fn = PATH_TO_DATA_UK+'20180920-langlinks_uk_en.csv'
df_link = pd.read_csv(fn,  encoding='UTF-8', quotechar='\'')

In [22]:
translated_en_articles = pd.merge(en_idname, df_link,
                                        how='left', left_on=['title'], right_on=['ll_title'])

In [23]:
translated_en_articles = translated_en_articles[['id', 'title', 'll_from']]

In [24]:
translated_en_articles = translated_en_articles[pd.notnull(translated_en_articles['ll_from'])]

In [25]:
non_translated_en_articles = translated_en_articles[translated_en_articles['ll_from'].isnull()]

In [27]:
translated_en_articles.to_csv(PATH_TO_DATA_EN+"translated_en_articles.csv", 
                     index = False, encoding='UTF-8', quotechar="\"", sep ="^")

In [28]:
non_translated_en_articles = non_translated_en_articles[['id', 'title']]

In [30]:
non_translated_en_articles.to_csv(PATH_TO_DATA_EN+"non_translated_en_articles.csv", 
                     index = False, encoding='UTF-8', quotechar="\"", sep ="^")