In [1]:
import csv
import os
import re
import gzip
import pandas as pd
import numpy as np

In [9]:
PATH_TO_DATA = '/media/andrii/earth/Katia/CS_MasterThesis/data/ukwiki/'
data_time = '20180920'

In [10]:
UKWIKI_ALI_FNMS = []
for file in os.listdir(PATH_TO_DATA_UK):
    if re.match(r"ukwiki-" + data_time + "-pages-meta-current.xml_red.csv", file):
        UKWIKI_ALI_FNMS.append(file)  
        
UK_ID_NAME = "ukwiki-" + data_time + "-id_name.csv"
#EN_ID_NAME = "enwiki-' + data_time + '-id_name.csv"

In [11]:
UKWIKI_ALI_FNMS

['ukwiki-20180920-pages-meta-current.xml_red.csv']

In [12]:
df_uk_id_name = pd.read_csv(PATH_TO_DATA_UK+UK_ID_NAME, encoding='utf-8', sep="^")
df_uk_id_name.head()

    id             title  length
0    3  Головна сторінка    3197
1   13         Географія   16843
2  584              Атом   35112
3  585           Мільярд    1759
4  586              Ядро    8064

In [13]:
df_id_alias_title_alias = None
df_id_alias_id_orig = None
df_id_orig_title_alias = None
for fn in UKWIKI_ALI_FNMS:
    fn = PATH_TO_DATA_UK+fn
    print(fn)
    df_aliases = pd.read_csv(fn, encoding='UTF-8', quotechar="\"")
    df_aliases = pd.merge(df_aliases, df_uk_id_name, how='left', left_on=['redirect'], right_on=['title'])    
    df_aliases = df_aliases[['id_x', 'id_y', 'title_x', 'redirect']]
    df_aliases.columns = ['id_alias', 'id_orig', 'title_alias', 'title_orig']    
    
    df_id_alias_title_alias_tmp = df_aliases[['id_alias', 'title_alias']]
    if df_id_alias_title_alias is not None:
        df_id_alias_title_alias = df_id_alias_title_alias.append(df_id_alias_title_alias_tmp)        
    else:
        df_id_alias_title_alias = df_id_alias_title_alias_tmp
    print("df_id_alias_title_alias size: {}".format(df_id_alias_title_alias.shape))
    
    df_id_alias_id_orig_tmp = df_aliases[['id_alias', 'id_orig']]
    if df_id_alias_id_orig is not None:
        df_id_alias_id_orig = df_id_alias_id_orig.append(df_id_alias_id_orig_tmp)        
    else:
        df_id_alias_id_orig = df_id_alias_id_orig_tmp
    print("df_id_alias_id_orig size: {}".format(df_id_alias_id_orig.shape))
    
    df_id_orig_title_alias_tmp = df_aliases[['id_orig', 'title_alias']]
    if df_id_orig_title_alias is not None:
        df_id_orig_title_alias = df_id_orig_title_alias.append(df_id_orig_title_alias_tmp)        
    else:
        df_id_orig_title_alias = df_id_orig_title_alias_tmp
    print("df_id_orig_title_alias size: {}".format(df_id_orig_title_alias.shape))

/media/andrii/earth/Katia/CS_MasterThesis/data/ukwiki/ukwiki-20180920-pages-meta-current.xml_red.csv
df_id_alias_title_alias size: (453549, 2)
df_id_alias_id_orig size: (453549, 2)
df_id_orig_title_alias size: (453549, 2)

In [14]:
df_id_alias_title_alias.head()

   id_alias           title_alias
0         2             Esperanto
1         6             Wikipedia
2         9              HomePage
3       647     Капустянко Микола
4       693  Володимир Винниченко

In [15]:
df_id_alias_title_alias.to_csv(PATH_TO_DATA+'ukwiki-' + data_time + '-id_alias_title_alias.csv', index = False, encoding='UTF-8', quotechar="\"")

In [16]:
df_id_alias_id_orig[['id_orig']] = df_id_alias_id_orig[['id_orig']].fillna(-1).astype(int)

/home/andrii/virtenvs/tb/lib/python3.6/site-packages/pandas/core/frame.py:3489: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [17]:
df_id_alias_id_orig.head()

   id_alias  id_orig
0         2      610
1         6     9701
2         9        3
3       647    61817
4       693     6083

In [18]:
df_id_alias_id_orig.to_csv(PATH_TO_DATA+'ukwiki-' + data_time + '-id_alias_id_orig.csv', index = False, encoding='UTF-8', quotechar="\"")

In [19]:
df_id_orig_title_alias[['id_orig']] = df_id_orig_title_alias[['id_orig']].fillna(-1).astype(int)

In [20]:
df_id_orig_title_alias.shape

(453549, 2)

In [21]:
df_id_orig_title_alias = df_id_orig_title_alias.drop_duplicates()
df_id_orig_title_alias.shape

(453549, 2)

In [22]:
df_id_orig_title_alias.head()

   id_orig           title_alias
0      610             Esperanto
1     9701             Wikipedia
2        3              HomePage
3    61817     Капустянко Микола
4     6083  Володимир Винниченко

In [23]:
df_id_orig_title_alias.to_csv(PATH_TO_DATA+'ukwiki-' + data_time + '-id_orig_title_alias.csv', index = False, encoding='UTF-8', quotechar="\"")

In [24]:
df_id_orig_title_alias[df_id_orig_title_alias.id_orig == - 1]

        id_orig                                 title_alias
152          -1                                Альфонс XIII
1539         -1                               Поточні події
1606         -1                               Ламбер Уілсон
2012         -1                         Поради для новачків
2490         -1                        Запити на зображення
...         ...                                         ...
452684       -1  Найпопулярніші україномовні кліпи на Ютьюб
452685       -1   Найпопулярніші україномовні кліпи на Ютуб
452686       -1    Україномовні музичні відеокліпи на Ютубе
452699       -1  Найпопулярніші україномовні кліпи на Ютубі
452704       -1   Найпопулярніші кліпи україномовного Ютубу

[587 rows x 2 columns]