In [1]:
import pandas as pd

In [5]:
PATH_WIKI = '/media/andrii/earth/Katia/CS_MasterThesis/data/ukwiki/'
data_time = '20180920'

In [6]:
df_articles = pd.read_csv(PATH_WIKI+"ukwiki-" + data_time + "-pages-meta-current.xml_red.csv",
                          encoding='UTF-8', quotechar="\"")
df_articles.head()

    id                 title                            redirect
0    2             Esperanto                           Есперанто
1    6             Wikipedia                           Вікіпедія
2    9              HomePage                    Головна сторінка
3  647     Капустянко Микола  Капустянський Микола Олександрович
4  693  Володимир Винниченко      Винниченко Володимир Кирилович

In [7]:
df_redirect1 = df_articles[['title']]
df_redirect1.columns = ['redirect']

In [8]:
df_redirect1.head()

               redirect
0             Esperanto
1             Wikipedia
2              HomePage
3     Капустянко Микола
4  Володимир Винниченко

In [9]:
df_redirect2 = df_articles[['redirect']]

In [10]:
df_redirect2.head()

                             redirect
0                           Есперанто
1                           Вікіпедія
2                    Головна сторінка
3  Капустянський Микола Олександрович
4      Винниченко Володимир Кирилович

In [11]:
frames = [df_redirect1, df_redirect2]
df_all_redirections = pd.concat(frames)

In [13]:
df_all_redirections.head()

               redirect
0             Esperanto
1             Wikipedia
2              HomePage
3     Капустянко Микола
4  Володимир Винниченко

In [14]:
df_all_redirections = df_all_redirections.drop_duplicates()

In [15]:
df_all_redirections.shape

(723894, 1)

In [17]:
df_all_redirections.to_csv(PATH_WIKI+"ukwiki-" + data_time + "-redirections.csv", 
                     index = False, encoding='UTF-8', quotechar="\"", sep ="^")

In [ ]:
# results in a file "ukwiki-" + data_time + "-redirections.csv"